body { background: #80f65b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 50px; display: flex; }
.block-search-0 { color: #fba9b8; font-size: 20px; margin-bottom: 5px; }
.block-shipping-1 { color: #cb5b5b; font-size: 17px; margin-bottom: 5px; }
.block-token-2 { color: #fe2a05; font-size: 19px; margin-bottom: 5px; }
.block-router-3 { color: #fdc104; font-size: 14px; margin-bottom: 5px; }
.block-product-4 { color: #bdf228; font-size: 14px; margin-bottom: 5px; }